:root {
    --priBgCol: #080609;
    --secBgCol: #21182380;
    --BACol1: #B071FF;
    --BACol2: #a649c5;
    --uniMargin: 2vw;
    --navBarHeight: 5rem;
    --navBarRad: 20px;
    --navBarFontSize: 30px;
    --priTextCol: #fff;
    --secTextCol: rgba(255, 255, 255, 0.50);
}